header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;
    background: white;
    z-index: 9999;
}
.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.logo_header a{
    font-weight: 600;
    font-size: 16px;
    color: #212121;
}
.logo_menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo_menu ul,
.config_header ul{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo_menu a{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}
