<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loja.css">
    <title>Loja</title>
</head>
<body>
    <%- include("./components/NavBar.ejs") %>

    <main>
        <section>
            <div class="container_banner">
                <div class="banner_loja">
                    <img src="https://images.pexels.com/photos/97082/weimaraner-puppy-dog-snout-97082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
            </div>
        </section>
        <section>
            <div class="container_marcas">
                <div class="slider_marcas" id="slider"></div>
        </section>
        <section>
            <div class="products_filter">
                <div class="filter_loja">
                    <div class="search_loja">
                        <i class="bi bi-search"></i>
                        <input type="search" name="" id="" placeholder="Search Products">
                    </div>
                    <div class="">
                        <ul>
                            <li class="title_list">Faixa de Preço</li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li><li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="" id="">
                                <label for="">
                                    R$ 0,00 - 1.500
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <ul>
                            <li class="title_list">Marcas</li>
                            <li>Kong</li>
                            <li>Adimax</li>
                            <li>Afp</li>
                            <li>Akio</li>
                            <li>Avert</li>
                            <li>Beeps</li>
                            <li>Blue</li>
                            <li>Bolt</li>
                            <li>Coala</li>
                            <li>Dog Toy</li>
                            <li>Douxo</li>
                            <li>Evo</li>
                            <li>Faro</li>
                            <li>Golden</li>
                            <li>Hello</li>
                            <li>Ideal</li>
                            <li>Latoy</li>
                        </ul>
                    </div>
                    <div class="">
                        <ul>
                            <li class="title_list">Pet</li>
                            <li>Cachorros</li>
                            <li>Gatos</li>
                            <li>Peixes</li>
                            <li>Pássaros</li>
                            <li>Roedores</li>
                        </ul>
                    </div>
                    <div class="">
                        <ul>
                            <li class="title_list">Porte de Raça</li>
                            <li>Médios</li>
                            <li>Pequenos</li>
                            <li>Grandes</li>
                            <li>Mini</li>
                            <li>Gigantes</li>
                        </ul>
                    </div>
                </div>
                <div class="products_loja">
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    <div class="card_product"></div>
                    
                    
                </div>
            </div>
        </section>
    </main>

</body>
<script src="/js/loja.js"></script>
</html>