<head>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<header>
    <div class="container_header">
        <div class="logo_menu">
            <div class="logo_header">
                <a href="/"><h1>PetShop</h1></a>
            </div>
            <div class="menu_header">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/loja">Loja</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </div>
        </div>
        <div class="config_header">
            <ul>
                <li><i class="bi bi-cart4"></i></li>
                <li><i class="bi bi-heart"></i></li>
                <li><i class="bi bi-person-circle"></i></li>
            </ul>
        </div>
    </div>
</header>